<div class="content">
  <h2 class="page-header">Categorie</h2>
  <div class="row">
    <div class="col-md-4">
      <button class="btn-dashboard history" [routerLink]="['/history']">La nostra storia<div class="layer"></div></button>
    </div>
    <div class="col-md-4">
      <button class="btn-dashboard trophies" [routerLink]="['/trophies']">Sala delle coppe</button>
    </div>
    <div class="col-md-4">
      <button class="btn-dashboard hall-of-fame" [routerLink]="['/hall-of-fame']">Hall Of Fame</button>
    </div>
  </div>
</div>
