<div class="content">
  <h2 class="page-header">Info</h2>
  <p class="strong">Benvenuto a CASA MILAN Museum</p>
    <p class="normal">E' un piacere per noi!</p>
  <p class="strong">Orari d'apertura:</p>
    <p class="normal">dalle 8.00 alle 20.00.</p>
  <p class="strong">Bar:</p>
    <p class="normal">Puoi fare una pausa con un caffè dalle 8.00 alle 19.00.</p>
  <p class="strong">Shop:</p>
    <p class="normal">Visita il nostro shop per fantastici gadget, dalle 8.30 alle 20.30.</p>
  <p class="info">Usa l'app per leggere e scoprire <strong>contenuti speciali</strong> e informazioni esclusive.</p>
  <p>Puoi vedere queste informazioni, cliccando sul bottone info. Lo vedrai sempre nel menu dell'app.</p>
</div>
