@import 'src/assets/stylesheets/_mixins.scss';

.content{
  font-family: milanregular;
  @include mq('desktop-wide') {
    padding: 1% 20%;
  }
  @include mq('tablet') {
    @include mq('desktop-wide', 'max') {
      padding: 1% 10%;
    }
  }
}
.btn-dashboard {
  font-family: milanfont;
  border-width: 0px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  font-size: 23px;
  color: #aaaaaa;
  width: 100%;
  height: 150px;
  background-position: center;
  background-size: cover;
  @include mq('desktop-wide') {
    height: 200px;
  }
  @include mq('tablet') {
    @include mq('desktop-wide', 'max') {
      height: 200px;
    }
  }
}
.page-header{
  margin-top: 18px;
  margin-left: 5%;
  margin-right: 2%;
  font-family: milanfont;
  @include mq('desktop-wide') {
    padding-left: 0px;
    padding-right: 0px;
    border-bottom: 1px solid #dddddd;
  }
  @include mq('tablet') {
    @include mq('desktop-wide', 'max') {
      margin-left: 0px;
      margin-right: 0px;
      border-bottom: 1px solid #dddddd;
    }
  }
}
.col-md-4{
  padding-left: 0px;
  padding-right: 0px;
  width: 50%;
  float:left;
  @include mq('desktop-wide') {
    width: 33.33333333%;
  }
  @include mq('tablet') {
    @include mq('desktop-wide', 'max') {
      width: 33.33333333%;
    }
  }
}
.row{
  margin-left: 0px;
  margin-right: 0px;
}
/* For width 400px and larger: */
/*@media only screen and (min-width: 1400px) {
  .content{
    padding: 1% 20%;
  }
  .btn-dashboard{
    height: 200px;
  }
  .col-md-4{
    width: 33.33333333%;
  }
  .page-header{
    padding-left: 0px;
    padding-right: 0px;
    border-bottom: 1px solid #dddddd;
  }
}*/
/*@media only screen and (min-width: 800px) and (max-width: 1399px){
  .content{
    padding: 1% 10%;
  }
  .btn-dashboard{
    height: 200px;
  }
  .col-md-4{
    width: 33.33333333%;
  }
  .page-header{
    margin-left: 0px;
    margin-right: 0px;
    border-bottom: 1px solid #dddddd;
  }
}*/
